{% extends 'catalog/base.html' %}

{% block content %}
<h2>Список треков</h2>
<a href="{% url 'add_track' %}" class="btn btn-primary mb-3">Добавить трек</a>

<ul style="list-style: none; padding: 0;">
    {% for track in tracks %}
        <li style="margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <strong>{{ track.title }}</strong> — {{ track.album.title }} — {{ track.album.artist.name }}
        </li>
    {% empty %}
        <li>Треки не найдены.</li>
    {% endfor %}
</ul>
{% endblock %}